<html>
<head>
    <title>PSU Monitor</title>
</head>

<body>
    <h1>PSU Monitor</h1>
    {% if psu_list %}
    <ul>
    {% for psu in psu_list %}
        <h2>{{ psu }}</h2>
        <li>Last update: {{ psu.last_updated }}</li>
        <li>Voltage IN: {{ psu.get_voltageIN }}</li>
        <li>Current IN: {{ psu.get_currentIN }}</li>
        <li>Power IN: {{ psu.get_powerIN }}</li>
        <li>Voltage OUT: {{ psu.get_voltageOUT }}</li>
        <li>Current OUT: {{ psu.get_currentOUT }}</li>
        <li>Power OUT: {{ psu.get_powerOUT }}</li>
        <li>Temperature: {{ psu.get_temperature1 }} {{ psu.get_temperature2 }} {{ psu.get_temperature3 }}</li>
        <li>Fan RPM: {{ psu.get_fan_speed }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No PSU are available.</p>
{% endif %}

</body>

</html>